:root{

    --pseudo-backgroundcolor0: null;
    --pseudo-backgroundcolor1: null;
    --pseudo-backgroundcolor2: null;
    --pseudo-backgroundcolor3: null;
    --pseudo-backgroundcolor4: null;
    --pseudo-backgroundcolor5: null;
    --pseudo-backgroundcolor6: null;
    --pseudo-backgroundcolor7: null;
    --pseudo-backgroundcolor8: null;
    --pseudo-backgroundcolor9: null;
    --pseudo-backgroundcolor10: null;
    --pseudo-backgroundcolor11: null;
    --pseudo-textcolor0: null;
    --pseudo-textcolor1: null;
    --pseudo-textcolor2: null;
    --pseudo-textcolor3: null;
    --pseudo-textcolor4: null;
    --pseudo-textcolor5: null;
    --pseudo-textcolor6: null;
    --pseudo-textcolor7: null;
    --pseudo-textcolor8: null;
    --pseudo-textcolor9: null;
    --pseudo-textcolor10: null;
    --pseudo-textcolor11: null;
    --pseudo-hovercolor:blue;
    --pseudo-hovercolorlighter:lightblue;
    --pseudo-hovercolordarker:darkblue;



}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;

    justify-content: center;
    align-items: center;
    height: 80%
}
#prev-month, #next-month{
   font-size: 64px !important;

}
.calendar {
    width: 80%;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.calendar-header button {
    background-color: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
#month-year {
    font-size: 1.2em;
    font-weight: bold;
}
.calendar-weekdays, .calendar-dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.calendar-weekdays div{
    text-align: center;
    padding: 0;
}
.calendar-dates div {
    text-align: center;
    padding: 0;
}
.calendar-weekdays {
    background-color: #eaeef3;
}
.calendar-weekdays div {
    font-weight: bold;
}
.calendar-dates div {
    border-bottom: 1px solid #eaeef3;
    cursor: pointer;
}
.calendar-dates div:hover {

}
.current-date {
    background-color: aliceblue;
    border: 1px solid black;
}
@media (max-width: 400px) {
    .calendar {
        width: 100%;
        margin: 0 10px;
    }
}

.row.cal{
    height:20px;
    background: #f8f9fa;
    margin-top: 0;
}

.col.cal {

    padding: 0;
}

.box {
    position: relative;
    margin-left: 2%;
    right: -10%;
}
.box:before{
    position: absolute;
    left: 0;
    content: "";
    height:18px;

    width:12px;
    margin-bottom:15px;
    border:none

}



.box0:before{
    background-color:var(--pseudo-backgroundcolor0);

}
.box:hover:before{
    -webkit-animation:name 5s infinite;
    animation:name 5s infinite;
}
.box1:before{
    background-color:var(--pseudo-backgroundcolor1);
}
.box2:before{
    background-color:var(--pseudo-backgroundcolor2);
}
.box3:before{
    background-color:var(--pseudo-backgroundcolor3);
}
.box4:before{
    background-color:var(--pseudo-backgroundcolor4);
}
.box5:before{
    background-color:var(--pseudo-backgroundcolor5);
}
.box6:before{
    background-color:var(--pseudo-backgroundcolor6);
}
.box7:before{
    background-color:var(--pseudo-backgroundcolor7);
}
.box8:before{
    background-color:var(--pseudo-backgroundcolor8);
}
.box9:before{
    background-color:var(--pseudo-backgroundcolor9);
}
.box10:before{
    background-color:var(--pseudo-backgroundcolor10);
}
.box11:before{
    background-color:var(--pseudo-backgroundcolor11);
}
.box:hover:before{

    border: deepskyblue 1px solid;
    height:18px;
    width:12px;
}


.hiddendetails0 {
    background-color:var(--pseudo-backgroundcolor0);
    color:var(--pseudo-textcolor0)
}
.hiddendetails1 {
    background-color:var(--pseudo-backgroundcolor1);!important;
    color:var(--pseudo-textcolor1)
}
.hiddendetails2 {
    background-color:var(--pseudo-backgroundcolor2);!important;
    color:var(--pseudo-textcolor2)
 }
.hiddendetails3 {
    background-color:var(--pseudo-backgroundcolor3);!important;
    color:var(--pseudo-textcolor3)
}
.hiddendetails4 {
    background-color:var(--pseudo-backgroundcolor4);!important;
    color:var(--pseudo-textcolor4)
   }
.hiddendetails5 {
    background-color:var(--pseudo-backgroundcolor5);!important;
    color:var(--pseudo-textcolor5)
}
.hiddendetails6 {
    background-color:var(--pseudo-backgroundcolor6);!important;
    color:var(--pseudo-textcolor6)
}
.hiddendetails7 {
    background-color:var(--pseudo-backgroundcolor7);!important;
    color:var(--pseudo-textcolor7)
}
.hiddendetails8 {
    background-color:var(--pseudo-backgroundcolor8);!important;
    color:var(--pseudo-textcolor8)
}
.hiddendetails9 {
    background-color:var(--pseudo-backgroundcolor9);!important;
    color:var(--pseudo-textcolor9)
}
.hiddendetails10 {
    background-color:var(--pseudo-backgroundcolor10);!important;
    color:var(--pseudo-textcolor10)
}
.hiddendetails11 {
    background-color:var(--pseudo-backgroundcolor11);!important;
    color:var(--pseudo-textcolor11)
}
.calday{
    border: lightgreen solid 1px;
}

.hiddendetails {
    position: relative;
    display:none;
}

.box.HoverRight:hover > span {
    width:300px;
    text-align: left;
    position: absolute;
    top:-60px;
    left:20px;
    display:block;


    z-index: 7;
    margin: 12px;
    padding : 20px;
}

.box.HoverRight:hover > span:after{
    right: 100%;
    top: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: lightgray;
    border-width: 20px;
    margin-top: -6px;
    z-index: 7;
}

.box.HoverTopLeft:hover > span {
    width:300px;
    text-align: left;
    position: absolute;
    top:-150px;
    left:-330px;
    display:block;


    z-index: 7;
    margin: 12px;
    padding : 20px;
}

.box.HoverTopLeft:hover > span:after{
    left: 100%;
    bottom: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: lightgray;
    border-width: 20px;
    margin-top: -6px;
    z-index: 7;
}
.box.HoverTopRight:hover > span {
    width:300px;
    text-align: left;
    position: absolute;
    top:-150px;
    left:20px;
    display:block;


    z-index: 7;
    margin: 12px;
    padding : 20px;
}

.box.HoverTopRight:hover > span:after{
    right: 100%;
    bottom: 0;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-right-color: lightgray;
    border-width: 20px;
    margin-top: -6px;
    z-index: 7;
}

.box.HoverLeft:hover > span {
    width:300px;
    text-align: left;
    position: absolute;
    top:-60px;
    left:-330px;
    display:block;


    z-index: 7;
    margin: 12px;
    padding : 20px;
}

.box.HoverLeft:hover > span:after{
    left: 100%;
    top: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: lightgray;
    border-width: 20px;
    margin-top: -6px;
    z-index: 7;
}

.double-border {
    /*background-color: #ccc;*/
    border: 4px solid #fff;
    padding: 6px;

    position: relative;
    margin: 0 auto;
}
.double-border::before {
    padding : 6px;
    background: none;
    border: 4px solid #fff;
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    pointer-events: none;
}

@-webkit-keyframes name
{
    0% {background-color:black;}
    100% {background-color:white;}
}
@keyframes name {
    0% {background-color:var(--pseudo-hovercolor);}
    25% {background-color:var(--pseudo-hovercolorlighter);}
    50% {background-color:var(--pseudo-hovercolor);}
    75% {background-color:var(--pseudo-hovercolordarker);}
    100% {background-color:var(--pseudo-hovercolor);}
}